*{
 margin: 0;
 padding: 0;
 color: white;   
font-family: sans-serif;
}



body{
background: #001;
display: flex;
}
.content{

width: 100%;

}
.title-info{
background-color: rgb(42, 117, 158);
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
border-radius: 50px;
margin: 15px;
}
.img-box{
width: 50px;
height: 50px;
border-radius: 50% ;
overflow: hidden;
border: 3px solid white;
flex-shrink: 0;
}
.img-box img{
    width: 100%;

}

.profile{
display: flex;
align-items: center;
gap: 20px;
}
.profile h2{
font-size: 20px;
text-transform: capitalize;

}
.menu{
background-color: #123;
width: 50px;
height: 100vh;
padding: 20px;
overflow: hidden;
transition: .5s;
}
.menu:hover{
    width: 260px;
}

ul{
list-style: none;
position: relative;
height: 95%;
}

ul li a{
display: block;
text-decoration: none;
padding: 10px;
margin: 10px 0;
border-radius: 8px;
display: flex;
align-items: center;
gap: 30px;
transition: .5s;
}

ul li a:hover,.active,.data-info .box:hover{
background-color: #ffffff55 ;
}


.log-out{
 position: absolute;   
bottom: 0;
width: 100%;
}
.log-out a{

    background-color: #a00;
}

ul li a i {
font-size: 30px;

}
.data-info{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
gap: 10px;

}

.data-info .box{
background: #123;
height: 150px;
flex-basis: 150px;
flex-grow: 1;
display: flex;
justify-content: space-around;
border-radius: 8px ;
align-items: center;
margin-left: 10px;
}

.data-info .box p{
line-height: 32px;

}

.data-info .box i{
font-size: 40px;

}
.data-info .box .data{
text-align: center;

}

.data-info .box span{
font-size: 32px;

}

table{

    width: 100%;
    text-align: center;

border-radius: 20px;
border-spacing: 9px;

}

td,th{
height: 20px;
background: #123;
height: 40px;
}
.price,.product,.quantity{
   background-color:  rgb(42, 117, 158);
}